*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    background-color: rgb(229,229,229);
}
.header{
    width: 100vw;
    height: 1.6rem /* 60/37.5 */;
    background-color: rgb(55,152,255);
}
.iconfont.iconfont{
    color: aliceblue;
    font-size: .96rem /* 36/37.5 */;
    margin: .266667rem /* 10/37.5 */;
}
.leftbtn{
    float: left;
}
.rightbtn{
    float: right;
}
.buttombox{
    width: 100vw;
    position: absolute;
    bottom: 0;
}
.textbox{
    width: 80%;
    height: .8rem /* 30/37.5 */;
    margin: .266667rem /* 10/37.5 */;
    border-radius: .4rem /* 15/37.5 */;
    border: 1px solid rgb(229,229,229);
}
.mesbox{
    width: 100%;
    position: absolute;
    height: 83vh;
    background-color: rgb(229,229,229);
}
.send{
    padding: .133333rem /* 5/37.5 */;
    border: 1px solid white;
    background-color: rgb(135, 241, 248);
    border-radius: 1.2rem /* 45/37.5 */;
    color: white;
}
.userid{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.6rem /* 60/37.5 */;
    vertical-align: middle;
}