*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    background-color: rgb(229,229,229);
}
.header{
    width: 10rem;
    height: 1.6rem /* 60/37.5 */;
    background-color: rgb(55,152,255);
    position: fixed;
    z-index: 1;
}
.iconfont.iconfont{
    color: aliceblue;
    font-size: .8rem /* 30/37.5 */;
    margin: .4rem /* 15/37.5 */;
}
.leftbtn{
    float: left;
}
.rightbtn{
    float: right;
}
.buttombox{
    width: 10rem;
    position: absolute;
    bottom: 0;
    background-color: rgb(229,229,229);
}
.textbox{
    width: 80%;
    height: .8rem /* 30/37.5 */;
    margin: .266667rem /* 10/37.5 */;
    border-radius: .4rem /* 15/37.5 */;
    border: 1px solid rgb(229,229,229);
}
.mesbox{
    top: 1.6rem /* 60/37.5 */;
    width: 10rem;
    position: absolute;
    height: 84vh;
    background-color: rgb(229,229,229);
    overflow: scroll;
}
.send{
    padding: .133333rem /* 5/37.5 */;
    border: 1px solid white;
    background-color: rgb(135, 241, 248);
    border-radius: 1.2rem /* 45/37.5 */;
    color: white;
}
.userid{
    font-size: .64rem /* 24/37.5 */;
    color: aliceblue;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.6rem /* 60/37.5 */;
    vertical-align: middle;
}
.mybox{
    background-color: antiquewhite;
    display: inline;
    border-radius: .266667rem /* 10/37.5 */;
    /* right: 0; */
    display: block;
    padding: .133333rem /* 5/37.5 */;
}
.mybox::after{
    content: "";
    width: 0;
    height: 0;
    right: -10px;
    position: absolute;
    border: 8px solid transparent;
    border-left-color: antiquewhite;
}
.headlogo{
    
    border-radius: 50%;
    display: inline-block;
}
.sendb{
    height: 1.6rem /* 60/37.5 */;
    display: inline-block;
    position: absolute;
    right: 0;
    padding: .4rem;
}
.nickname{
    display: inline-block;
    /* position: absolute; */
    top: -.4rem /* -15/37.5 */;
    right: .133333rem /* 5/37.5 */;
}
.leftmm{
    display: inline-block;
    position: relative;
    padding-right: .133333rem /* 5/37.5 */;
}
.revb{
    display: inline-block;
    /* position: absolute;
    left: 0; */
    padding: .266667rem /* 10/37.5 */;
}


.rightmm{
    display: inline-block;
    position: relative;
    padding-right: .133333rem /* 5/37.5 */;
}
.mbox{
    background-color: antiquewhite;
    display: inline-block;
    border-radius: .266667rem /* 10/37.5 */;
    /* right: 0; */
    display: block;
    padding: .133333rem /* 5/37.5 */;
    
}
.mbox::before{
    content: "";
    width: 0;
    height: 0;
    left: -.4rem /* -15/37.5 */;
    position: absolute;
    border: 8px solid transparent;
    border-right-color: antiquewhite;
}