* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.backg{
    /* background-color: gold; */
    height: 100%;
    width: 100%;
    background: url("../img/avatar_bg.png") no-repeat;
    background-size:cover;
}

html,
body {
    height: 100%;
}

.left_home {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .3s linear;
    font-size: medium;
    left: -100%;
    overflow: hidden;
}

.left_le {
    width: 70%;
    height: 100%;
    border-right: 1px solid gray;
    background-color: #f9f8f8;
}

.left_ri {
    opacity: 0;
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.left_top{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid;
}

#avatar{
    position: relative;
    /* margin-left: 20px; */
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    border: 2px solid #f9f8f8;
    background-color: white;
}

#avatar2{
    position: relative;
    top: 30px;
    left: 35%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
}

.backg ul{
    color: #f9f8f8;
    font-size: 16px;
    /* margin-left: 90px; */
    margin-top: -10px;
    position: relative;
}

.left_bottom{
    width: 99%;
    height: 75%;
}

.left_bottom ul{
    width: 100%;
    height: 100%;
}

.left_bottom ul li{
    height: 30px;
    background-color: #f9f8f8;
    line-height: 30px;
    margin-top: 15px;
    /* border: 1px solid; */
}
.left_bottom ul li img:nth-of-type(2){
    float: right;
    margin-top: 10px;
    width:10px;
    height:10px;
}

.left_bottom ul li img:nth-of-type(1){
    float: left;
    margin-top: 10px;
    width:10px;
    height:10px;
    margin-left: 10px;
    margin-right: 10px;
}

.left_bottom ul li:nth-of-type(1){
    margin-top: 30px;
}

.change_avatar{
    background-color: #f9f8f8;
    position: absolute;
    top: 21%;
    width: 70%;
    height: 50%;
    display: none;
    border-right: 0;
    border-left: 0;
}

#btn_file{
    width: 100%;
    border: 1px solid;
    border-right: 0;
    border-left: 0;
    margin-top: 50px;
}

#btn_submit{
    border: 0;
    background-color: #00aaff;
    width: 100%;
    height: 30px;
    margin-top: 40px;
    color: white;
}

.login_out_slider{
    position: absolute;
    width: 70%;
    height: 50px;
    bottom: 0px;
    background-color: #e6e6e6;
    text-align: center;
    line-height: 50px;
}

.login_out_slider:hover{
    background-color: tomato;
}
