$browser-default-font-size:108px;
@function px2rem($px){
  @return $px/$browser-default-font-size*1rem;
}
.register_window{
  display: none;
}
.register_window  h2{
  text-align: center;
}
#regist_password{
  margin:.1rem 0;
}
#regist_nickname{
  background-color: rgba(77, 118, 148, 0.6);
}
#regist_btn{
  font-size: .4rem;
  text-align: center;
  display: block;
  background-color: darkslategrey;
  border-radius: .6rem;
  margin-top: .7rem;
}